{% extends "base.html" %}

{% block head %}

<head>
    <!---Custom CSS File--->
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

    {% endblock %}


    {% block content %}
    <section class="container">
        <a href="{{url_for('main.home')}}" class="text-light"><i class="fa fa-arrow-left"></i></a>
        <h2>Login Form</h2>
        <form action="{{ url_for('auth.login') }}" class="form" method="POST">
            <div class="input-box">
                <label>Username or Email Address</label>
                <input type="text" name="username" placeholder="Enter your username or email" required />
            </div>
    
            <div class="input-box">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required />
            </div>
    
            <button type="submit">Login</button>
            <div class="register">
                <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
            </div>
        </form>
    </section>

    {% endblock %}
